flask
flask-cors
opencv-python-headless
numpy
tensorflow==2.15.0
scikit-learn
pillow
pdf2image
pymupdf
pytesseract
requests
geopy
gunicorn
faiss-cpu
pdfminer.six
python-multipart
openpyxl
pandas
